/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --banner-color: #000;
  --banner-txt-color: #fff;
  --banner-bd-color: #f00;
  --banner-bd-width: 0;
  --txt-shadow-x: 0;
  --txt-shadow-y: 0;
  --txt-shadow-b: 0;
  --txt-shadow-color: #2A2A2A;
}

.banner {
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 200px;
  border: var(--banner-bd-width) solid var(--banner-bd-color);
  background-color: var(--banner-color);
  color: var(--banner-txt-color);
}

.banner-text {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  line-height: 1rem;
  text-shadow: var(--txt-shadow-x) var(--txt-shadow-y) var(--txt-shadow-b) var(--txt-shadow-color);
}

.selected {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.align {
  cursor: pointer;
  font-weight: 700;
}