@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --banner-color: #000;
  --banner-txt-color: #fff;
  --banner-bd-color: #f00;
  --banner-bd-width: 0;
  --banner-width: 450px;
  --banner-height: 200px;
  --txt-shadow-x: 1px;
  --txt-shadow-y: 1px;
  --txt-shadow-b: 0px;
  --txt-shadow-color: #2A2A2A;
}

.banner {
  @apply text-center justify-center;
  @apply bg-cover bg-center bg-no-repeat;
  width: var(--banner-width);
  height: var(--banner-height);
  border: var(--banner-bd-width) solid var(--banner-bd-color);
  background-color: var(--banner-color);
  color: var(--banner-txt-color);
}

.banner-text {
  @apply text-4xl font-bold leading-4;
  text-shadow: var(--txt-shadow-x) var(--txt-shadow-y) var(--txt-shadow-b) var(--txt-shadow-color);
}

.selected {
  @apply bg-black text-white;
}

.align {
  @apply font-bold cursor-pointer;
}